{% from "common/_macros.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"   content="">
    <link rel="stylesheet" type="text/css" href="{{ static('css/index/index.css') }}">
    <link rel="stylesheet" href="{{ static('css/Bootstrap/bootstrap.min.css') }}" type="text/css">
    <script type="text/javascript" src="{{ static('js/Bootstrap/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/Bootstrap/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static("js/index/index.js") }}"></script>
    <title>testinfomanage</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #9fcdff">
<div class="text-right">
    <ul>
        <li><a href="#" style="color: #1b1e21">{{ g.user.username }}</a></li>
        <li><a href="{{ url_for('front.logout') }}" style="color: #1b1e21">注销</a></li>
    </ul>
</div>
</nav>
<div class="left">
    <a href="#" id="f1"  class="container">接口测试</a>
    <ul style="list-style-type: none" id="f2">
        <li><a href="{{ url_for('front.interfacelist') }}" id="f21">接口列表</a></li>
{#        <li><a href="#" onclick="interfacelist()" >接口列表</a></li>#}
        <li><a href="{{ url_for('front.interfacecase') }}" id="f22">接口用例</a></li>
        <li><a href="{{ url_for('front.interfaceperformance') }}" id="f23">接口性能测试</a></li>
        </ul>
    <a href="#" id="f3" class="container">web测试</a>
    <ul style="list-style-type: none" id="f4">
        <li><a href="{{ url_for('front.interfacelist') }}">ui页面</a></li>
        <li><a href="{{ url_for('front.interfacecase') }}">ui元素</a></li>
        <li><a href="{{ url_for('front.interfaceperformance') }}">ui用例</a></li>
    </ul>
</div>
<div class="right">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script type="text/javascript">
</script>
</body>
</html>