{% from "common/_macros.html" import static %}
{#{% import "bootstrap/wtf.html" as wtf %}#}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>login</title>
<link rel="stylesheet" type="text/css" href="{{ static('css/login/normalize.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static('css/login/demo.css') }}" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="{{ static('css/login/component.css') }}" />
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>请注册</h3>
{#                        {{ wtf.quick_form(form)}}#}
						<form  name="registerForm" method="post">

							<div class="input_outer">
								<span class="u_user"></span>
								<input name="username" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账号" id="username">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码" id="password">
							</div>
                            <div class="input_outer">
								<span class="us_uer"></span>
								<input name="confirm" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="确认密码" id="confirm">
							</div>
                            <div class="input_outer">
								<span class="ue_uer"></span>
								<input name="email" id="email" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" type="email" placeholder="请输入邮箱" required autofocus>
{#								<input name="asdaasdas" id="email" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" type="email" placeholder="请输入邮箱" required autofocus>#}
							</div>
{#							<div class="mb2"><a class="act-but submit" style="color: #FFFFFF;cursor: pointer"  href="javascript:void(0);" id="submit" onclick="register()">注册</a></div>#}
                            {% if message %}
                                {{ message }}
                            {% endif %}
                            <button class="act-but submit mb2" style="color: #FFFFFF;cursor: pointer;width: 322px;height: 55px" type="submit">立即注册</button>
						</form>
                        <table>
                            <tr>
                                <td><a href="#" style="color: #FFFFFF;margin-left: 50px">忘记密码</a></td>
                                <td><a href="{{ url_for('front.login') }}" style="color: #FFFFFF;margin-left: 120px">登录</a></td>
                            </tr>
                        </table>
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="{{ static('js/login/TweenLite.min.js') }}"></script>
		<script src="{{ static('js/login/EasePack.min.js') }}"></script>
		<script src="{{ static('js/login/rAF.js') }}"></script>
		<script src="{{ static('js/login/demo-1.js') }}"></script>
		<div style="text-align:center;">
</div>
	</body>
</html>