
body{;
    background-color: #6f42c1;
    width: 1920px;
    height: 966px;
}
.text-right{
    margin-left: 1650px;
}
.text-right > ul >li{
    display: inline;
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;

}
nav{
    background-image: url("../../image/green.jpg");
    height: 75px;
    position: fixed;
}
.left{
    width: 316px;
    height: 891px;
    background-color: #494F60;
    float: left;
}
.right{
    width: 1604px;
    height: 891px;
    float: left;
}
#f1{
    color: white;
    width: 300px;
    border-style: outset;
    margin-top: 50px;
    display: block;


}
#f3{
    color: white;
    width: 300px;
    border-style: outset;
    display: block;

}